# Node
node_modules/
.expo/

# Python
__pycache__/
*.pyc
venv310/

# Output
static/generated/
static/output/
static/sample/

# OS files
.DS_Store
Thumbs.db
.env

# Datasets
data/

# Terraform
terraform.tfvars
terraform/terraform.exe